{% for product in products %}
        <div class="catalog-item">
        <img src="/{{ product.imgPath }}" alt="image-{{ product.id }}" class="product-image"/>
        <div>
            <a href="/?c=catalog&a=card&id={{ product.id }}">
                {{ product.name }}
            </a>
        </div>
        {% if session.login is defined %}
            <div>
                <a class="btn addToCartBtn" data-id="{{ product.id }}">Купить</a>
            </div>
        {% endif %}
        <div>
            {{ product.description }}
        </div>

    </div>
{% endfor %}
